*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
width:60px;
height:60px;
object-fit:contain;
margin-bottom:15px;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar a:hover{
    color:#38bdf8;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    color:#cbd5e1;
    margin-bottom:30px;
}

#search{
    width:90%;
    max-width:500px;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

.kategori{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
    padding:30px;
}

.kategori button{
    padding:10px 20px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#1e293b;
    color:white;
}

.kategori button:hover{
    background:#38bdf8;
    color:black;
}

#tools{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:40px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,

.footer{
background:#0b1220;
padding:50px 20px;
margin-top:60px;
text-align:center;
border-top:1px solid #1e293b;
}

.footer h2{
color:#38bdf8;
margin-bottom:15px;
}

.footer p{
color:#cbd5e1;
line-height:1.7;
}

.footer-links{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin:25px 0;
}

.footer-links a{
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.footer-links a:hover{
color:#38bdf8;
}

.copyright{
margin-top:20px;
font-size:14px;
color:#94a3b8;
}